@import url("https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Inter Tight", sans-serif;

  font-weight: normal;
  font-style: normal;
}
body main #hero {
  background: #833ab4;
  background: linear-gradient(
    5deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(204, 71, 71, 1) 60%,
    rgba(252, 176, 69, 1) 100%
  );
  height: 100vh;
}
.seperator-sm {
  height: 200px;
}
.tagesschrift-regular {
  font-family: "Tagesschrift", system-ui;
  font-weight: 900;
  font-style: oblique;
}
.card-text {
  font-weight: 800;
  font-size: 1.5rem;
}
nav {
  position: fixed;
}
.carousel-img {
  height: 500;
  width: 500;
  object-fit: cover;
}
